<% include ../partials/header.ejs %>

<div class="ui grid">
    <div class="ui main text container">
        <div class="ui huge header">Blog App</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function (blog) { %>
                <div class="item">
                    <% if (blog.image) { %>
                    <div class="image">
                        <img src="<%= blog.image.url %>" alt="image">
                    </div>
                    <% } %>
                    <div class="content">
                        <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
                        <div class="meta">
                            <span> <%= blog.created.toDateString() %> </span>
                        </div>
                        <div class="description">
                            <p>
                                <% if (blog.body.length < 103){ %>
                                <%= blog.body %>
                                <% } else { %>
                                <%= blog.body.substring(0, 100) + '...' %>
                                <% } %>
                            </p>
                        </div>
                        <div class="extra">
                            <a href="/blogs/<%= blog._id %>" class="ui right labeled icon black button">
                                Read More
                                <i class="small right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>


